:root {
  --primary-colour: #001674;
  --secondary-colour: #26cfff;
  --primary-text-colour: #ffffff;
  --primary-font-family: "Montserrat", Verdana, Arial, sans-serif;
  --secondary-font-family: "Noto Sans", Arial, sans-serif;
  --navbar-height: 50px;
  scroll-padding-top: var(--navbar-height);
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
}

body {
  font-family: var(--primary-font-family);
  color: var(--primary-text-colour);
}

.btn {
  background-color: var(--primary-colour);
  color: white;
  border: none;
  font-family: var(--primary-font-family);
  font-weight: 500;
  font-size: 16px;
}

/* Navbar */

.navbar {
  z-index: 1;
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  background-color: var(--primary-colour);
  font-weight: bold;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: var(--navbar-height);
  max-height: 100vh;
}

.navbar-logo {
  width: auto;
  align-self: flex-start;
}

.navbar-logo img {
  --nav-logo-margin: 5px;
  height: calc(var(--navbar-height) - calc(var(--nav-logo-margin) * 2));
  margin: var(--nav-logo-margin);
}

.hamburger {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  position: absolute;
  --hamburger-height: 40px;
  height: var(--hamburger-height);
  top: calc(calc(var(--navbar-height) - var(--hamburger-height)) / 2);
  right: 5px;
  width: 50px;
}

.line {
  background-color: white;
  height: 5px;
  width: 40px;
  border-radius: 9999px;
}

.navbar-links {
  display: none;
}

.left-navlinks,
.right-navlinks {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}

.navbar-btn,
.navbar-link {
  width: 100%;
  text-align: center;
  list-style: none;
  display: flex;
  justify-content: center;
}

.navbar-btn {
  position: relative;
  display: block;
  text-align: center;
}

.navbar-link a {
  text-decoration: none;
  padding: 1rem;
  color: white;
  font-size: 16px;
  font-family: var(--primary-font-family);
}

.menu-links {
  display: flex;
  flex-direction: column;
  box-shadow: 0 5px 10px rgb(0, 0, 0, 0.4);
  overflow-y: scroll;
  max-height: 100vh;
}

.dropdown-btn {
  --dropdown-font-size: 16px;
  border: none;
  background-color: transparent;
  font-weight: bold;
  width: 100%;
  color: white;
  font-family: var(--primary-font-family);
  font-size: var(--dropdown-font-size);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: calc(calc(var(--navbar-height) - var(--dropdown-font-size)) / 2) 0;
}

.dropdown-link {
  padding: 10px;
  text-align: left;
  color: var(--primary-colour);
  font-size: 16px;
}

.dropdown-content {
  display: none;
  background-color: white;
}

.dropdown-content.expand {
  display: block;
}

.dropdown-chevron {
  margin-left: 10px;
  font-size: 32px;
}

.navbar-chevron {
  margin-left: 5px;
}

.mobile-menu-link {
  text-decoration: none;
  color: var(--primary-text-colour);
  width: 100%;
  text-align: center;
  font-size: 16px;
}

.mobile-menu-link {
  padding: 1rem 0;
}

@media (hover: none) {
  .selected-nav-link {
    color: var(--secondary-colour);
  }
}

/* Slideshow */
.slideshow-container {
  background-color: var(--primary-colour);
  height: 300px;
  width: 100%;
  margin-top: var(--navbar-height);
}

.slideshow {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  position: relative;
  background-size: cover;
  transition: background-image 0.3s ease-in;
}

.slideshow-country-text {
  text-shadow: 2px 2px 5px #000000;
}

.slideshow-description-text {
  font-size: 16px;
  text-align: center;
  width: 70%;
  text-shadow: 2px 2px 5px #000000;
  font-weight: bold;
}

.slideshow-btn {
  height: 40px;
  width: 220px;
}

.slideshow-chevron {
  position: absolute;
  width: 50px;
  height: 50px;
}

.slideshow-chevron-left {
  background-image: url("images/slideshow/chevron-left.png");
  left: 5px;
}

.slideshow-chevron-right {
  background-image: url("images/slideshow/chevron-right.png");
  right: 5px;
}

.slideshow-circles {
  width: 30%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.empty-circle,
.filled-circle {
  background-size: cover;
  height: 20px;
  width: 20px;
}

.empty-circle {
  background-image: url("images/slideshow/slideshow-circles.png");
  background-position: 0 0;
}

.filled-circle {
  background-image: url("images/slideshow/slideshow-circles.png");
  background-position: 100px 0;
}

/* Main Title */

.main-title-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  background-color: var(--primary-colour);
}

.main-title-container img {
  height: 100px;
}

.main-title-container h1 {
  font-size: 24px;
  text-align: center;
  color: var(--primary-text-colour);
  font-family: var(--primary-font-family);
  font-weight: 300;
  text-transform: uppercase;
}

/* Featured Destinations Photo Grid*/
.featured-destinations {
  margin-top: 70px;
}

.featured-destinations-heading {
  font-family: var(--secondary-font-family);
  color: var(--primary-colour);
  text-align: center;
}

.photo-grid {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
}

.featured-destination-card {
  width: 90%;
  height: 180px;
  background-color: blue;
  position: relative;
  margin-top: 10px;
  overflow: hidden;
}

.featured-destination-photo {
  object-fit: cover;
  object-position: 0 90%;
  width: 100%;
  height: 100%;
  transition: transform 0.2s ease-in;
}

.featured-destination-country {
  position: absolute;
  bottom: 5px;
  right: 5px;
  font-size: 24px;
  text-shadow: 3px 3px 7px rgba(0, 0, 0, 1);
}

/* Popular Tours */

.tour-card-container {
  margin-top: 70px;
}

.popular-tours-heading {
  font-family: var(--secondary-font-family);
  color: var(--primary-colour);
  text-align: center;
}

.tour-cards {
  margin: 10px 20px 50px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tour-card {
  margin-top: 20px;
  height: 400px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  -webkit-box-shadow: 0 4px 16px 0 rgba(0, 10, 53, 0.25);
  box-shadow: 0 4px 16px 0 rgba(0, 10, 53, 0.25);
  transition: transform 0.2s ease-in;
}

.tour-image {
  margin-top: 5%;
  height: 200px;
  width: 90%;
  overflow: hidden;
  position: relative;
}

.tour-photo {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.tour-country {
  position: absolute;
  top: 5px;
  left: 5px;
  text-shadow: 3px 3px 7px rgba(0, 0, 0, 0.5);
}

.tour-name {
  position: absolute;
  bottom: 5px;
  right: 5px;
  text-shadow: 3px 3px 7px rgba(0, 0, 0, 1);
}

.tour-details {
  margin-top: 5%;
  color: var(--primary-colour);
  width: 90%;
  display: flex;
  justify-content: space-between;
  font-size: 20px;
}

.tour-duration {
  text-align: right;
}

.tour-description {
  width: 90%;
  color: black;
  margin-top: 10px;
}

.view-tour-btn {
  height: 30px;
  width: 120px;
  margin-bottom: 10px;
}

/* Contact Us Section */
.contact-us-container {
  height: 280px;
  background-color: var(--secondary-colour);
  position: relative;
}

.contact-us-heading {
  font-family: var(--secondary-font-family);
  text-align: center;
  padding-top: 10px;
}

.contact-us-text {
  margin: 20px 10px 30px 10px;
  text-align: center;
}

.contact-btn-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  width: 100%;
  bottom: 20px;
}

.contact-btn {
  height: 40px;
  width: 160px;
  margin-bottom: 10px;
}

/* Sign Up */
.sign-up-container {
  height: 250px;
  background-color: var(--primary-colour);
}

.sign-up {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.sign-up-heading {
  font-family: var(--secondary-font-family);
  padding-top: 10px;
}

.sign-up-text {
  text-align: center;
  margin: 20px 10px 0 10px;
}

.sign-up-btn {
  height: 40px;
  width: 160px;
  background-color: var(--secondary-colour);
  position: absolute;
  bottom: 20px;
}

/* About Section */

.about-us-container {
  min-height: 400px;
  color: var(--primary-colour);
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.about-us {
  height: 100%;
}

.about-us-logo {
  height: 200px;
  width: auto;
  margin: 10px 0;
}

.about-us-heading {
  font-family: var(--secondary-font-family);
  text-align: center;
  margin-bottom: 20px;
}

.about-us-text {
  text-align: center;
  margin: 0 20px 20px 20px;
  font-weight: 700;
}

/* Footer */
.footer {
  background-color: var(--primary-colour);
  height: 10vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 0 10px;
}

.footer-links,
.social-icons {
  list-style: none;
  display: flex;
  justify-content: space-around;
}

.footer-links {
  width: 100%;
  font-size: 12px;
}

.social-icons {
  font-size: 16px;
  height: 16px;
  width: 100%;
}

/* Hover effects */
@media (hover: hover) {
  .btn:hover {
    cursor: pointer;
    background-color: var(--secondary-colour);
    color: var(--primary-colour);
  }

  .navbar-logo:hover {
    cursor: pointer;
  }

  .hamburger:hover {
    cursor: pointer;
  }

  .hamburger:hover > .line {
    background-color: var(--secondary-colour);
  }

  .navbar-btn:hover button,
  .navbar-link:hover,
  .navbar-link:hover a {
    color: var(--secondary-colour);
    cursor: pointer;
    transform: scale(1.2);
  }

  .dropdown-btn:hover,
  .mobile-menu-link:hover {
    cursor: pointer;
    color: var(--secondary-colour);
  }

  .dropdown-link:hover {
    background-color: var(--secondary-colour);
    cursor: pointer;
  }

  .navbar-chevron {
    display: none;
  }

  .slideshow-chevron:hover {
    cursor: pointer;
    transform: scale(1.2);
  }

  .empty-circle:hover {
    cursor: pointer;
    transform: scale(1.2);
  }

  .featured-destination-card:hover {
    cursor: pointer;
  }

  .featured-destination-card:hover .featured-destination-photo {
    transform: scale(1.2);
  }

  .tour-card:hover {
    transform: scale(1.05);
  }

  .contact-btn:hover {
    background-color: #ffffff;
    border: 1px solid var(--primary-colour);
  }

  .sign-up-btn:hover {
    background-color: #ffffff;
  }

  .footer-links li:hover,
  .social-icons li:hover {
    cursor: pointer;
    color: var(--secondary-colour);
    transform: scale(1.1);
  }
}

/* Medium devices */
@media (min-width: 550px) {
  /* Navbar */

  .navbar {
    height: 50px;
    flex-direction: row;
  }

  .navbar-logo {
    align-self: initial;
    position: absolute;
  }

  .navbar-logo img {
    height: 75px;
    margin: 0;
  }

  .navbar-links {
    flex-direction: row;
    justify-content: space-between;
    display: flex;
    width: 100%;
  }

  .navbar-link a {
    font-size: 10px;
  }

  @media (hover: hover) {
    .navbar-btn:hover .dropdown-content {
      display: block;
    }
  }

  @media (hover: none) {
    .dropdown-content.display {
      display: block;
    }
  }

  .hamburger {
    display: none;
  }

  .menu-links {
    display: none;
  }

  .left-navlinks,
  .right-navlinks {
    flex-direction: row;
    width: 45%;
  }

  .left-navlinks {
    justify-content: flex-start;
  }

  .right-navlinks {
    justify-content: flex-end;
  }

  .navbar-btn {
    border: none;
  }

  .dropdown-btn {
    --dropdown-font-size: 10px;
  }

  .dropdown-content {
    background-color: rgba(255, 255, 255, 0.95);
    width: 100%;
    z-index: 2;
    position: absolute;
    top: var(--navbar-height);
    box-shadow: 5px 5px 10px rgb(0, 0, 0, 0.4);
  }

  .dropdown-link {
    width: calc(100% - 20px);
    font-size: 10px;
  }

  /* Slideshow */
  .slideshow-container {
    height: calc(90vh - var(--navbar-height));
  }

  .slideshow {
    background-position: center;
  }

  .slideshow-country-text {
    margin-top: 50px;
  }

  /* Featured Destinations Photogrid */
  .photo-grid {
    display: grid;
    grid-gap: 10px;
    justify-content: center;
    align-content: center;
    grid-template-rows: repeat(4, auto);
    grid-template-columns: repeat(4, 15%);
    grid-template-areas:
      "photo-1 photo-2 photo-2 photo-3"
      "photo-1 photo-2 photo-2 photo-7"
      "photo-4 photo-2 photo-2 photo-7"
      "photo-4 photo-5 photo-6 photo-7";
  }

  .featured-destination-country {
    font-size: 16px;
  }

  .featured-destination-photo {
    object-fit: cover;
    object-position: 50% 50%;
  }

  [class*="photo"] {
    width: 100%;
    height: 100%;
  }

  .photo-1 {
    grid-area: photo-1;
  }

  .photo-2 {
    grid-area: photo-2;
  }

  .photo-3 {
    grid-area: photo-3;
  }

  .photo-4 {
    grid-area: photo-4;
  }

  .photo-5 {
    grid-area: photo-5;
  }

  .photo-6 {
    grid-area: photo-6;
  }

  .photo-7 {
    grid-area: photo-7;
  }

  /* Popular Tours */

  .tour-cards {
    display: grid;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    grid-template-columns: repeat(2, 45%);
    grid-template-rows: repeat(3, auto);
    grid-gap: 30px;
    justify-content: center;
  }

  .tour-card {
    margin: 0;
  }

  .contact-us-container,
  .sign-up-container {
    vertical-align: top;
    display: inline-block;
    width: 50%;
    height: 300px;
  }

  .contact-us-text,
  .sign-up-text {
    margin-left: 20px;
    margin-right: 20px;
  }

  /* About Section */
  .about-us-container {
    height: 350px;
  }

  .footer {
    height: 5vh;
    flex-direction: row;
    justify-content: space-between;
  }

  .footer-links {
    width: 40%;
  }

  .social-icons {
    width: 20%;
  }
}

/* Large Screens */
@media (min-width: 850px) {
  /* Navbar */
  .navbar-link a {
    font-size: 16px;
  }

  .dropdown-btn {
    --dropdown-font-size: 16px;
  }

  .dropdown-link {
    font-size: 14px;
  }

  /* Slideshow */
  .slideshow-container {
    height: 70vh;
  }

  .slideshow-country-text {
    font-size: 40px;
  }

  .slideshow-description-text {
    font-size: 18px;
  }

  .slideshow-circles {
    width: 10%;
  }

  /* Main Title */

  .main-title-container {
    justify-content: space-around;
  }

  .main-title-container img {
    height: 200px;
  }

  .main-title-container h1 {
    font-size: 48px;
  }

  /* Featured Destinations Photogrid */
  .featured-destination-country {
    font-size: 18px;
  }

  /* Popular Tours */
  .tour-cards {
    max-width: 1100px;
    grid-template-columns: repeat(3, 30%);
    grid-template-rows: repeat(2, auto);
  }

  /* Contact Us */
  .contact-btn-container {
    flex-direction: row;
    justify-content: space-around;
  }

  .contact-btn {
    margin-bottom: 0;
  }

  .contact-us-container,
  .sign-up-container {
    height: 200px;
  }
}

/* Small devices in landscape */
@media (orientation: landscape) and (max-height: 550px) {
  .dropdown-content {
    max-height: calc(98vh - var(--navbar-height));
    overflow-y: scroll;
  }

  /* Slideshow */
  .slideshow-circles {
    width: 15%;
  }

  .empty-circle,
  .filled-circle {
    height: 15px;
    width: 15px;
  }

  .filled-circle {
    background-position: 75px 0;
  }

  .featured-destination-country {
    font-size: 12px;
  }

  .contact-us-container,
  .sign-up-container {
    height: 300px;
  }

  .contact-btn-container {
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 35%;
  }

  .footer-links {
    font-size: 10px;
    width: 50%;
  }

  .social-icons {
    font-size: 12px;
  }
}
