:root {
  --primary-colour: #001674;
  --secondary-colour: #26cfff;
  --primary-font-family: "Montserrat", sans-serif;
  --secondary-font-family: "Noto Sans", sans-serif;
  --navbar-height: 50px;
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
}

/* Navbar */

.navbar {
  z-index: 1;
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  background-color: var(--primary-colour);
  color: white;
  font-family: var(--primary-font-family);
  font-weight: bold;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: var(--navbar-height);
}

.navbar-logo {
  --nav-logo-margin: 5px;
  height: calc(var(--navbar-height) - calc(var(--nav-logo-margin) * 2));
  margin: var(--nav-logo-margin);
  width: auto;
  align-self: flex-start;
}

.hamburger {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  position: absolute;
  --hamburger-height: 40px;
  height: var(--hamburger-height);
  top: calc(calc(var(--navbar-height) - var(--hamburger-height)) / 2);
  right: 5px;
  width: 50px;
}

.line {
  background-color: white;
  height: 5px;
  width: 40px;
  border-radius: 9999px;
}

.hamburger:hover {
  cursor: pointer;
}

.hamburger:hover > .line {
  background-color: var(--secondary-colour);
}

.navbar-links {
  display: none;
}

.navbar-links.open {
  display: flex;
  flex-direction: column;
}

.left-navlinks,
.right-navlinks {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}

.navbar-link {
  width: 100%;
  text-align: center;
  list-style: none;
  padding: 1rem;
  font-size: 1rem;
}

.navbar-link:hover a {
  color: var(--secondary-colour);
  cursor: pointer;
}

.navbar-link a {
  text-decoration: none;
  color: white;
}

/* Slideshow */
.slideshow-container {
  background-color: var(--secondary-colour);
  height: 300px;
  width: 100%;
  margin-top: var(--navbar-height);
}

.slideshow {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  position: relative;
  background-size: cover;
}

.slideshow-text {
  color: white;
  font-family: var(--primary-font-family);
}

.slideshow-description-text {
  font-size: 14px;
  text-align: center;
  width: 70%;
}

.slideshow-btn {
  height: 40px;
  width: 180px;
  background-color: var(--primary-colour);
  color: white;
  font-family: var(--primary-font-family);
  font-size: 16px;
  border: none;
}

.slideshow-btn:hover {
  cursor: pointer;
  background-color: var(--secondary-colour);
}

.slideshow-chevron {
  position: absolute;
  width: 50px;
  height: 50px;
}

.slideshow-chevron:hover {
  cursor: pointer;
  transform: scale(1.2);
}

.slideshow-chevron-left {
  background-image: url("images/chevron-left.png");
  left: 0px;
}

.slideshow-chevron-right {
  background-image: url("images/chevron-right.png");
  right: 0px;
}

.slideshow-circles {
  width: 30%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.empty-circle {
  background-image: url("images/slideshow-circles.png");
  background-position: 0 0;
  background-size: cover;
  height: 20px;
  width: 20px;
}

.empty-circle:hover {
  cursor: pointer;
  transform: scale(1.2);
}

.filled-circle {
  background-image: url("images/slideshow-circles.png");
  background-position: 100px 0;
  background-size: cover;
  height: 20px;
  width: 20px;
}

.featured-destinations {
  background-color: var(--primary-colour);
  color: white;
  height: auto;
}

.contact {
  height: 200px;
  background-color: var(--secondary-colour);
  color: white;
}

.about {
  height: 200px;
  background-color: var(--primary-colour);
  color: white;
}

.sign-up {
  height: 200px;
  background-color: black;
  color: white;
}

.footer {
  background-color: var(--primary-colour);
  height: 5vh;
}

@media (min-width: 550px) {
  /* Navbar */

  .navbar {
    height: 50px;
    flex-direction: row;
  }

  .navbar-logo {
    height: 100px;
    align-self: initial;
    position: absolute;
    margin: 0;
  }

  .navbar-links,
  .navbar-links.open {
    flex-direction: row;
    justify-content: space-between;
    display: flex;
    width: 100%;
  }

  .hamburger {
    display: none;
  }

  .navbar-link {
    font-size: 0.7rem;
  }

  .left-navlinks,
  .right-navlinks {
    flex-direction: row;
    width: 45%;
  }

  .left-navlinks {
    justify-content: flex-start;
  }

  .right-navlinks {
    justify-content: flex-end;
  }
}

@media (min-width: 800px) {
  /* Navbar */
  .navbar-link {
    font-size: 1rem;
  }
}
